<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Personal Portfolio</title>
  <link rel="stylesheet" href="../static/index.css">
 <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
</head>

<body>
  <nav>
    <h1> Talab Reach </h1>
    <ul>
      <li><a href="#home">Home</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#service">Services</a></li>
      <li><a href="#pf">Portfolio</a></li>
      <li><a href="#contact">Contact</a></li>
      <li><a href="list.html">List message</a></li>
    </ul>
  </nav>
  <div class="header">
    <div class="contaner">
      <div class="box" id="home">
        <div class="Reach-R">
              <div class="reach">
                <img src="../static/image/reach.png" alt="">
              </div>
        </div>
        <div class="header-text">
          <p>Software Development</p>
          <h1>Hi, I'm <span>Reach</span> <br>Da From Raratanakiri provice</h1>
          <div class="social-icons i_m">
            <!-- <a href=""><img src="image/books.png" ></a> -->
            <!-- <a href=""><img src="image/chat.png" alt=""></a> -->
            <a href=""><img src="../static/image/telegram.png" alt=""></a>
            <a href=""><img src="../static/image/instagram.png" alt=""></a>
          </div>
        </div>
       

      </div>

    </div>
  </div>

  <!-- --------------about---------------- -->
  <div class="about" id="about">
    <div class="row">
      <div class="about-col-1">
        <img src="../static/image/re.png" alt="">
      </div>
      <div class="about-col-2">
        <h1 class="sub-title">About me</h1>
        <p class="line_hight">Hello! I'm a passionate web development student. With strong motivation and hands-on experience in real-world system projects, I specialize in building responsive and user-friendly web applications. I am currently studying HTML, CSS, SASS, JavaScript, ,and RESTful API development. My journey in tech started with curiosity and quickly grew into a passion for creating practical, real-world solutions </p>
        <div class="teb-titles">
          <p class="tab-links active-link" onclick="opentab('skills')">Skills</p>
          <p class="tab-links " onclick="opentab('experience')">Experience</p>
          <p class="tab-links " onclick="opentab('education')">Education</p>
        </div>
        <div class="tab-contents active-tab" id="skills">
          <ul>
            <li><span>UI?UX</span><br>Designing Web/App interfaces</li>
            <li><span>Web Developmeant</span><br>App Developmeant</li>
            <li><span>App Developmeant</span><br>Building Android/iOS apps</li>
          </ul>
        </div>
        <div class="tab-contents" id="experience">
          <ul>
            <li><span>2025 TeamProject</span><br>Desging on Figma</li>
            <li><span>2025 Buluild Website</span><br>Education Website about English</li>
            <li><span>2025 Create Personal Portfolio</span><br> About My Portfolio</li>

          </ul>
        </div>
        <div class="tab-contents" id="education">
          <ul>
            <li><span>2018-2023</span><br>I studied at Ta Veng High School.</li>
            <li><span>2023-2024</span><br>I came to study at a high school in Ban Lung city. I graduated from high
              school.</li>
            <li><span>2025-2026</span><br>I am continuing my studies at a university name Passerellernumeries Cambodia
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- -----------services------------- -->
  <main id="service">
    <div class="container">
      <h1 class="sub-title">My Service</h1>
      <div class="services-list">
        <div>
          <span class="material-symbols-outlined">code_off</span>
          <h2>Web Design</h2>
          <p>Lorem ipsum dolor sit amet, consectertur adipiscing elit, Sed nulls nibh,tincidunt sit amet sapien quis.
          </p>
          <a href="#">Learn more</a>
        </div>
        <div>
          <span class="material-symbols-outlined">apk_document</span>
          <h2>App Design</h2>
          <p>Lorem ipsum dolor sit amet, consectertur adipiscing elit, Sed nulls nibh,tincidunt sit amet sapien quis.
          </p>
          <a href="#">Learn more</a>
        </div>
        <div>
          <span class="material-symbols-outlined">code_blocks</span>
          <h2>Web Development</h2>
          <p>Lorem ipsum dolor sit amet, consectertur adipiscing elit, Sed nulls nibh,tincidunt sit amet sapien quis.
          </p>
          <a href="#">Learn more</a>
        </div>
      </div>
    </div>

  </main>

  <!-- -----------portfolio--------------- -->
   <div class="portfolio" id="pf">
    <div class="container">
      <h1 class="sub-title">My Work</h1>
      <div class="work-list">
        <div class="work">
          <img src="../static/image/phone.png" alt="">
          <div class="layer">
            <h3>Socail Media App</h3>
            <p>The app connects  you the talented people the world. Download it from play store.</p>
            <a href="#"><span class="material-symbols-outlined">ios_share</span></a>
          </div>
        </div>
        <div class="work">
          <img src="../static/image/in.png" alt="">
          <div class="layer">
            <h3>Online Shopping App</h3>
            <p>The app connects  you the talented people the world. Download it from play store.</p>
            <a href="#"><span class="material-symbols-outlined">ios_share</span></a>
          </div>
        </div>
        <div class="work">
          <img src="../static/image/12.png" alt="">
          <div class="layer">
            <h3>Music App</h3>
            <p>The app connects  you the talented people the world. Download it from play store.</p>
            <a href="#"><span class="material-symbols-outlined">ios_share</span></a>
          </div>
        </div>
      </div>
      <a href="#" class="btn">See more</a>
    </div>
   </div>

<!-- ----------contact---------------- -->

  <div class="contact" id="contact">
    <div class="container">
      <div class="row">
        <div class="contact-left">
          <h1 class="sub-title">Contact Me</h1>
          <p> <span class="material-symbols-outlined">send</span>dada330012@gmail.com</p>
          <p> <span class="material-symbols-outlined">phone_in_talk</span>0886582432</p>
          <div class="social-icons">
            <a href=""><img src="../static/image/books.png" ></a>
            <a href=""><img src="../static/image/chat.png" alt=""></a>
            <a href=""><img src="../static/image/telegram.png" alt=""></a>
            <a href=""><img src="../static/image/instagram.png" alt=""></a>
          </div>
          <a href="../static/image/MyCV.png" download class="btn btn2">Download CV</a>
            
        </div>
        <div class="contact-ringt">
          <form action="submit" method="post">
            <input type="text" name="Name" placeholder="Your name" required>
            <input type="email" name="email" placeholder="Your email" required>
            <textarea name="Message" rows="6"  placeholder="Your Message"></textarea>
            <button type="submit" class="btn btn2">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>


  <footer class="footer">
  <div class="footer-container">
    <div class="footer-section">
      <h3 class="title">Talab Reach</h3>
      <p>Building the future, one line of code at a time. Let's create something amazing together.</p>
      <div class="stall">
        <a href="https://github.com/"><img  class="git" src="../static/image/git.png" alt=""></a>
        <a href=""><img class="git" src="../static/image/sa.png" alt=""></a>
        

    </div>

      </div>

    <div class="footer-section">
      <h3>Quick Links</h3>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#service">Services</a></li>
        <li><a href="#pf">Portfolio</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div>

    <div class="footer-section">
      <h3>Services</h3>
      <ul>
        <li><a href="#">Web Development</a></li>
        <li><a href="#">Frontend Development</a></li>
        <li><a href="#">UI/UX Design</a></li>
        <li><a href="#">Quality Assurance</a></li>
      </ul>
    </div>

    <div class="footer-section">
      <h3>Get In Touch</h3>
      <p>PNC</p>
      <p><a href="https://github.com/">dada330012@gmail.com</a></p>
      <p><a href="tel:+880886582432">0886582432</a></p>
      <p>Available for work</p>
    </div>
  </div>
  <hr>
  <div class="hr_p">
    <p>© 2025 Sela. All rights reserved.</p>
    <p>Made withand lots of coffee</p>

  </div>
</footer>



  <script>
    var tablinks = document.getElementsByClassName("tab-links")
    var tabcontents = document.getElementsByClassName("tab-contents")
    function opentab(tabname) {
      for (tablink of tablinks) {
        tablink.classList.remove("active-link")
      }
      for (tabcontent of tabcontents) {
        tabcontent.classList.remove("active-tab")
      }
      event.currentTarget.classList.add("active-link")
      document.getElementById(tabname).classList.add("active-tab");
    }
  </script>
</body>

</html>